# docker db connection
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME_PSQL=studdy_buddy_db
DB_USER_PSQL=postgres
DB_PASSWORD_PSQL=password

# Auth
# openssl rand -hex 64
AUTH_SECRET=secret

# Drizzle
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>

# Logging
LOG_LEVEL='debug'
