/* Chat css */
#buddy-window {
  margin-bottom: 5px;
  margin-top: 20px;
  background-color: var(--boxes);
  border-radius: 5px;
}

#chat-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  height: 500px;
  background-color: var(--boxes);
}

#chat-window .messages {
  width: 100%;
  flex: 1;
  border-bottom: solid var(--secondary-color);
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

#chat-window .messages li {
  padding: 0.5rem;
}

#chat-window form {
  flex: 1;
  flex-grow: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0.25rem;
}

#chat-window form input {
  border: 0;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background: white;
}

#chat-window form button {
  width: 6rem;
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

#chat-window form button:hover {
  background-color: var(--pencil-pink);
}

/* Own messages styling */
#chat-window .messages li.self {
  --messages-color: var(--button-color);
  --message-text-color: white;
}

#chat-window .messages li.self::before {
  --messages-color: var(--button-color);
  --degree: 90deg;
  --bubble-scale: -1, 1;

  right: 3rem;
}

/* Buddy's message styling */
#chat-window .messages li.buddy {
  --messages-color: var(--pencil-pink);
  --message-text-color: #2e2e2e;
}
#chat-window .messages li.buddy::before {
  --messages-color: var(--pencil-pink);
  --degree: 90deg;
  --bubble-scale: 1, 1;

  left: 3rem;
}

/* System message styling */
#chat-window .messages li.system {
  --messages-color: #808080;
  --message-text-color: white;
}

#chat-window .messages li.system::before {
  --messages-color: #808080;
  --degree: 90deg;
  --bubble-scale: -1, 1;

  right: 3rem;
}

.speech-bubble {
  background: var(--messages-color);
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  margin: 1rem;
  margin-bottom: 40px;
  /* padding: 1.5rem 2rem; */
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--message-text-color);
}

.speech-bubble::before {
  border: 12.5px solid transparent;
  border-top: 12.5px solid var(--messages-color);
  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: '';
  display: block;
  position: absolute;
  bottom: -25px;
  transform-origin: center;
  transform: scale(var(--bubble-scale)) rotate(90deg) skew(-25deg)
    translateY(1rem);
}
